@font-face {
    font-family: "ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "zuu";
    src: url("../fonts/Zuume-ExtraBold.woff2");
    font-display: swap;
}

.bg {
    position: absolute;
    z-index: -1;
    width: clamp(320px, 100vw, 500px)
}

a {
    text-decoration: none
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "ubuntu-Regular", sans-serif
}

.container {
    width: 100%;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.header__box {
    padding: 10px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-top: none;
    border-style: solid;
    border-color: #C2C2C2;
    text-align: center;
    margin-bottom: 15px
}

.header__title {
    background: linear-gradient(90deg, #E4686D 0%, #B02A30 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-family: "ubuntu-Bold", sans-serif;
    font-size: 18px;
    margin-bottom: 4px;
    text-transform: uppercase
}

.header__text {
    font-family: "ubuntu-Regular", sans-serif;
    font-size: 14px;
    line-height: 115%
}

.hero__title {
    font-size: clamp(24px, 3.2vw, 32px);
    font-family: "ubuntu-Bold", sans-serif;
    text-align: center;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 1px;
    font-weight: 800;
    color: #C82E2E;
}
.hero__text{
    text-align: center;
    font-size: 20px;
    font-family: "ubuntu-Medium",sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

.hero__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin-bottom: 12px
}

.hero__list__item {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 8px;
    border: 0.5px solid #C2C2C2;
    border-radius: 10px;
    width: 100%;
    max-width: 337px;
    font-size: clamp(10px,2vw,14px);
    background: #F6F6F6;
}
.hero__list__item p span{
    font-family: "ubuntu-Medium",sans-serif;
}

.hero__list__item__box {
    width: 46px;
    height: 34px;
    border-radius: 5px;
    background-color: #FFE9B4
}

.hero__button {
    background-color: #C5392C;
    box-shadow: 0px 6px 0px 0px #8A1E14;
    padding: 25px 39px;
    border-radius: 100px;
    box-shadow: 0px 6px 0px 0px #8A1E14;
    color: white;
    border: none;
    outline: none;
    font-size: clamp(16px, 2.2vw, 22px);
    font-family: "ubuntu-Bold", sans-serif;
    font-weight: 700
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px
}

.img__container {
    display: flex;
    justify-content: center
}