@font-face {
    font-family: "ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.cyrillic.woff2");
    font-display: swap
}

@font-face {
    font-family: "zuu";
    src: url("../fonts/Zuume-ExtraBold.woff2");
    font-display: swap;
}
